body {
  background-color: rgb(216, 238, 216);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  min-width: 0px;
}

h1,
h2 {
  margin: 20px 0px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  border-bottom: 4px solid rgba(0, 0, 0);
  width: fit-content;
}

p {
  color: gray;
  margin: 10px 0px;
}

section {
  margin: 50px 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px;
}

.card {
  background: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  padding: 50px 50px;
  min-width: 300px;
  max-width: 700px;
  margin: -20px auto;
}

.subtitle {
  font-style: italic;
  margin: -10px 0px 50px 0px;
}

.button {
  display: inline;
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.button:hover {
  background-color: rgb(0, 173, 0);
}

.button:active {
  background-color: rgb(255, 255, 255);
}

.button:focus {
  background-color: rgb(0, 87, 0);
}

.download-item {
  display: inline-flex;
  align-items: center;
}
